@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'inter';
    
}

/*cabeçalho*/
header{
    background-color:#0c0ce94d;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links{
    display: flex;
    align-self: center;
    align-items: center;
    margin-left: 10px;
}

.nav-icons{
    width: 30px;
    transition: 0.3s;
}
nav > div > *{
    margin: 10px;
}
#home{
    width: 50px;
}
#botaoCad{
    border-radius: 5px;
    border: 0.8px solid black;
    display: flex;
    justify-content: center;
    height: 25px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.641)
    
}
#linkCad{
    margin-top: 3px;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
/*responsividade navbar*/
#linkCad:hover{
    color: white;
    background-color: black;
}
#botaoCad:hover{
    color: white;
    background-color: black;
}
.nav-icons:hover{
    transform:translateY(10px);
}

/*barra de pesquisa*/
.search-bar{
    
    display: flex;
    align-items: center;
    
    
}
.search-bar input[type="text"] {
    text-decoration: none;
    margin-right: 0px;
    padding: 2px;
    padding-left: 5px;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: 0.8px solid #000000;
    background-color: rgba(255, 255, 255, 0.475);
    
}

.search-bar button {
    border: 0.8px solid #70bd7e;
    color:  #70bd7e;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.475);
    width: 50px; 
    height: 25px;  
    transition: 0.4s;
}
/*Responsividade da search bar*/
.search-bar button:hover {
    width: 55px;
    height: 30px;  
    color: rgb(236, 236, 236); 
    background-color:  #70bd7e;
}
.search-bar input[type="text"]:focus{
    outline: none;
}

/*Produtos*/
main{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 80%;
}



/* Estande de produtos */
.product-stand {
    margin: 40px 20% 0px 20%;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    gap: 20px; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza os cards */
    padding: 50px;
    border: 1px solid rgba(120, 137, 145, 0.37);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70vh;
    overflow-y: auto;
}
.product-stand::-webkit-scrollbar {
    width: 8px;
}
.product-stand::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.product-stand::-webkit-scrollbar-thumb {
    background: #6c63ff;
    border-radius: 5px;
}
.product-stand::-webkit-scrollbar-thumb:hover {
    background: #6c63fff1;
}


/* Card de produto */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    height:300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.imagemProduto{
    margin: 20px;
    padding: 5px;
    width: fit-content;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    background-color: #f0f0f0a6;

    justify-content: center;
}
.imagemProduto a{
    height: 100%;
}
.imagemProduto > a > img{
    height: 100px;
}
.descricaoProduto{
    border-top: 1px solid #ddd;
    height: 50%;
}
.product-card h3 {
    font-size: 20px;
    margin: 15px;
    color: #333;
}

.product-card p {
    font-size: 14px;
    margin: 0 15px 15px;
    color: #666;
}

.product-card button {
    
    background-color: #6c63ff;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.product-card button:hover {
    background-color: #0056b3;
}
.product-card button:hover::before {
    content: "Comprar  ";
}
/* Efeito no hover */
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}